.order__form {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.order__input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.order__field {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 80vw;
  margin: 0 auto 2rem;
}

.order__input {
  color: inherit;
  font-size: 1.2rem;
  height: 2.5rem;
  background-color: #eee;
  border: none;
  outline: none;
}

.order__btn-block {
  display: flex;
  justify-content: space-between;
}