.cart-item {
  display: flex;
  margin-bottom: 1rem;
  min-width: 500px;
  justify-content: space-between;
}

.cart-item__img {
  width: 100px;
  margin-right: 10px;
}

.cart-item__block {
  display: flex;
  align-items: center;
}

.cart-item__name {
  line-height: 24px;
  margin: 0;
}

.cart-item__label {
  text-align: left;
}