.cart-total {
  border-top: 1px dashed #70544f;
}

.cart-total__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-total__label {
  padding-right: 20px;
}

.cart-total__delivery {
  text-align: right;
  margin-bottom: 0;
}

.cart-total__usd,
.cart-total__eur {
  margin: 0;
  text-align: right;
}

.cart-total__usd {
  opacity: 0.5;
}
