.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
}

.menu__nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 110px;
  top: 50px;
  right: 20vw;
}

@media (max-width: 1400px) {
  .menu__nav {
    right: 10vw;
  }
}