.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  overflow-y: auto;
}

.modal-body {
  position: absolute;
  padding: 2rem;
  width: 50vw;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
  margin-bottom: 5rem;
}

.modal__close-btn {
  position: absolute;
  right: -15px;
  top: -15px;
  border: 5px solid #fff;
  background-color: #000;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .modal-body {
    width: 70vw;
  }
}

@media (max-width: 1200px) {
  .modal-body {
    width: 80vw;
  }
}

@media (max-width: 900px) {
  .modal-body {
    width: 90vw;
  }
  .modal__close-btn {
    right: 10px;
    top: 10px;
  }
}